<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MATCH ME!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="../static/css/style.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>


<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../static/img/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">ScentSoul Story</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Contact Me</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




  <!-- Header -->
  <header class="intro-header2">
     <div class="container-fluid padding" >
         <div class="col-lg-6 order-lg-2" >
      <br></br>
      <br></br>
      <br></br>
      <br></br>
         </div>
    </div>
  </header>


  <div class="recommendations">
    <!-- <div class="login-page"> -->
      <div class="form">
        <div class="col-12 text-center">
          <form class="login-form" action = "/result" method="GET|POST">
             <br></br>
             <H1 style="font-family:kefa;">MATCH ME</h1>   
             <H6>PLEASE TELL ME YOUR PERFUME</h6>   
             <br></br>    
          <select name="perfume_id">
          <option value="249612">Dior J`adore, 1999</option>
          <option value="246211">Dior Pure Poison, 2004</option>
          <option value="855874">Dior Sauvage, 2015</option>
          <option value="834568">Dior Homme, 2005</option>
          <option value="306023">Dior Miss Dior 2012</option>
          <option value="997029">Chanel N°5, 1921</option>
          <option value="328164">Chanel Chance Eau Tendre, 2010</option>
          <option value="440460">Chanel Chance Eau de Toilette, 2003</option>
          <option value="331972">Chanel No 5 Eau de Toilette, 1921</option>
          <option value="449262">Hermes Terre d'Hermes, 2006</option>
          <option value="251428">Hermes Un Jardin Sur Le Nil, 2005</option>
          <option value="476435">Hermes Eau des Merveilles, 2004</option>
          <option value="315972">Hermes Un Jardin Sur Le Toit, 2011</option>
          <option value="118712">Guerlain Shalimar, 1925</option>
          <option value="263287">Guerlain Mitsouko Eau de Toilette, 1919</option>
          <option value="175472">Guerlain Vol de Nuit, 1933</option>
          <option value="884138">Guerlain Samsara Eau de Parfum, 1989</option>
        </select>
           <br></br>   
           <br></br>   
              <p> <input type ="submit" class="btn btn-outline-light btn-lg" value="Get my perfumes" > </p>
          </form>
        </div>
      </div>
  </div>


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <!-- <script src="static/js/my_style.js"></script> -->




<!--- Footer -->
<footer>
  <div id="footer" class="container-fluid padding" >
    <div class="row text-center" >
      <div class="col-md-4" >
        <img src="../static/img/w3newbie.png" style="width:190px;height:50px;">
        <hr class="light">
        <p>408-858-8858</p>
        <p>wyywenyi@gmail.com</p>
        <p>28588 Anchorage Ln </p>
        <p>Hayward, CA, US</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Our Hours</h5>
        <hr class="light">
        <p>Monday: 9 am - 4 pm</p>
        <p>Saturday: 10am - 3 pm</p>
        <p>Sunday: closed</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Services</h5>
        <hr class="light">
        <p>SHANGHAI ,  CHINA </p>
        <p>PARIS ,  FRANCE</p>
        <p>NEW YORK ,  USA</p>
        <p>LONDON ,  UK</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; www.scentsoul.com </h5>
      </div>
    </div>
  </div>
</footer>

</body>
</html>