<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HELP ME!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="style.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>


<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="img/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">ScentSoul Story</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Contact Me</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




  <!-- Header -->
  <header class="intro-header">
     <div class="container-fluid padding" >
         <div class="col-lg-6 order-lg-2" >
      <h1 style="font-family:kefa;" ><br><font color=  #ffffff>   Hey, Take a Quiz </font></h1>
      <h4 style="font-family:kefa;"><font color= #ffffff>   Tell me something about you... </font></h4>
      <br></br>
         </div>
    </div>
  </header>


  <div class="container-fluid padding" >
    <div class="recommendations">
      <br></br>
       <form action = "index.html" method="GET">
              <p>
                <h4>Your gender is: </h4>
                <label><input type="radio" name="gender" value="女香">Female</label>
                <label><input type="radio" name="gender" value="男香">Male</label>
              </p>
           <p> <input type ="submit" class="btn btn-outline-light btn-lg" value="Get my perfumes" > </p>

        </form>

</body>
